body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player,
#dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.hand {
  display: flex;
  flex-direction: row-reverse;
}

.deal {
  display: flex;
}

.hitstand {
  display: flex;
  flex-direction: row;
}

.player-loose-card {
  border: 5px solid #ff0000;
  border-radius: 7px;
  background-color: red;
}

.player-win-card {
  border: 5px solid #00ff00;
  border-radius: 7px;
  background-color: #00ff00;
}

.player-push-card {
  border: 5px solid #ff8800;
  border-radius: 7px;
  background-color: #ff8800;
}

.card-image {
  width: 100px;
  height: 150px;
  margin: 10px;
}

.counter {
  font-size: 24px;
}

.flex-container {
  display: flex;
}

.flex-container>div {
  margin: 10px;
  padding: 20px;
}

.flex-container>div:first-child {
  width: 19%;
}

.flex-container>div:nth-child(2) {
  width: 60vw;
}

#boxforinp {
  background-color: #161616;
  border-radius: 7px;
  border: #292929 solid 2px;
  height: 44.2px;
  padding-left: 5px;
  width: 100%;
  margin-left: 3%;
  padding-right: 3%;
  margin-bottom: 5px;
}

#coinsToSpend {
  background-color: #161616;
  color: #ffffff;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  box-shadow: 1px 1px 1px #1b1b1b00;
}

#boxforinp>div {
  background-color: #ff060600;
  width: 300px;
  margin: 10px;
  font-size: 30px;
}

#boxforinp:focus-within {
  border: solid 2px rgb(77, 77, 77);
}

input:focus {
  outline: none;
  border: none;
}

.Bet {
  font-size: 15px;
  margin-bottom: -17px;
}

button {
  width: 100%;
  height: 52px;
  border-radius: 3px;
  border: solid 0px black;
  background-color: #6967ff;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 4px #333359;
  margin-top: 20px;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #7673fd;
}

button:active {
  background-color: #6967ff;
  box-shadow: 0px 2px #6967ff;
  transform: translateY(1.2px);
}

.buttons {
  margin-top: 55%;
  text-align: start;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-left: 5px;
  margin-top: 0px;
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
  /* Add fade-in animation */
}

.modal-content {
  background-color: #333333;
  margin: 25% auto;
  padding: 25px;
  border-radius: 10px;
  width: 32%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation: fadeInZoom 0.2s ease-in-out;
  /* Add fade-in zoom animation */
  transform: scale(1);
  /* Initial scale for zoom effect */
}

#Deposit {
  margin-top: 20px;
  background-color: #00c74d;
  border-radius: 10px;
  box-shadow: 0px 4px #008d36;
}

#Deposit:active {
  background-color: #00c74d;
  box-shadow: 0px 2px #00c74d;
  transform: translateY(2px);
}

