.flex-container {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(30, 143, 255, 0);
}

.flex-container>div {
    background-color: #f1f1f100;
    width: 400px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
}

.velg {
    width: 100%;
    height: 52px;
    border-radius: 3px;
    border: solid 0px black;
    background-color: #6967ff;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 4px #333359;
    margin-top: 1px;
    margin-left: 10px;
}

.velg:hover {
    cursor: pointer;
    background-color: #7673fd;
}

.velg:active {
    background-color: #6967ff;
    box-shadow: 0px 2px #6967ff;
    transform: translateY(1.2px);
}

.selectbox {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 143, 255);
    height: 100%;
    width: 300px;
}

.selectbox>div {
    display: flex;
    flex-direction: row;
    background-color: #f1f1f100;
    width: 276px;
    margin: 10px;
    line-height: 20px;
    font-size: 30px;
}

#mineCountLabel {
    margin-left: 10px;
}


#addRemainingCoinsButton {
    font-size: 14px;
    box-shadow: 1px 1px 1px #1b1b1b;
    margin-top: 0px;
    border-radius: 8px;
    border: 2px solid #3f3f3f;
    background-color: #3f3f3f;
    height: 30px;
    width: 30%;
}

#startButton {
    width: 100%;
    height: 52px;
    border-radius: 3px;
    border: solid 0px black;
    background-color: #6967ff;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 4px #333359;
    margin-top: 1px;
}

#startButton:hover {
    cursor: pointer;
    background-color: #7673fd;
}

#startButton:active {
    background-color: #6967ff;
    box-shadow: 0px 2px #6967ff;
    transform: translateY(1.2px);
}

#startButton.cash-out-disabled {
    background-color: gray;
    box-shadow: 0px 2px gray;
    cursor: not-allowed;
}

#addRemainingCoinsButton:hover {
    background-color: #8c8c8c;
    border: #8c8c8c solid 2px;
}

#addRemainingCoinsButton:active {
    transform: translateY(0px);
}

#boxforinp {
    background-color: #161616;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: 19px;
    padding: 5px;
    border-radius: 7px;
    border: #292929 solid 2px;
    height: 44.2px;
    width: 67.3%;
}

#coinsToSpend {
    background-color: #161616;
    color: #ffffff;
    width: 100%;
    height: 40px;
    border-radius: 4px 0 0 4px;
    border: none;
    box-shadow: 1px 1px 1px #1b1b1b00;
}

#boxforinp>div {
    background-color: #ff060600;
    width: 100px;
    margin: 10px;
    font-size: 30px;
}

#boxforinp:focus-within {
    border: solid 2px rgb(77, 77, 77);
}

.Bet {
    font-size: 15px;
    margin-bottom: -17px;
    margin-left: 1px;
}