.velkommen {
  text-align: center;
  margin-top: 15%;
}

.flex-container>div>img {
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.flex-container>div>img:hover {
  cursor: pointer;
  transform: translateY(-7px);
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: rgba(30, 143, 255, 0);
}

.flex-container>div {
  background-color: #f1f1f100;
  width: 150px;
  margin: 0px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.overskrift-container {
  margin-top: 70px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(30, 143, 255, 0);
}

.overskrift-container>div {
  background-color: #f1f1f100;
  width: 100%;
  margin: 0px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
