.container {
    display: grid;
    grid-template-columns: repeat(5, 100px); /* Updated to 5 columns */
    gap: 12px;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #161616;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 5px #000000;
    position: relative; /* Added position relative */
    transition: transform 0.2s ease-in-out; /* Added transition for smooth hover effect */
}

.cell:hover {
    background-color: #272626;
    transform: translateY(-5px); /* Move the cell up by 5px when hovered */
}
.mine {
    background-color: red;
    color: white;
}

.revealed {
    pointer-events: none; /* Disable clicking on revealed cells */
}

.revealed img {
    width: 80%; /* Reduced the width of the image slightly to fit better */
    height: 80%;
    object-fit: contain;
    position: absolute; /* Added position absolute */
    top: 50%; /* Center the image vertically */
    left: 50%; /* Center the image horizontally */
    transform: translate(-50%, -50%); /* Center the image perfectly */
}

#mineCountLabel {
    margin-right: 10px;
}

select{
    background-color: #0F212E;
    border-radius: 3px;
    width: 100%;
    height: 38.2px;
    border: solid 2px rgba(90, 90, 90, 0.603);
    color: #ffffff;
    font-weight: bold;
    font-size: 18;
}

.selectbox{
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 143, 255);
    height: 100%;
    width: 300px;
}

.selectbox > div {
    background-color: #f1f1f100;
    width: 276px;
    margin: 10px;
    line-height: 30px;
    font-size: 30px;
  }


  .flex-container {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(30, 143, 255, 0);
  }
  
  .flex-container > div {
    background-color: #f1f1f100;
    width: 100px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
  }

  p{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  }

  button{
    width: 100%;
    height: 52px;
    border-radius: 3px;
    border: solid 0px black;
    background-color: #6967ff;
    font-weight: bold;
    font-size: 16px;
  }

  button:hover{
    cursor: pointer;
  }

  .coin-display {
    color: white;
    font-size: 18px;
    margin-top: 10px;
}