.container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  /* Updated to 5 columns */
  gap: 12px;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #161616;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 5px #000000;
  position: relative;
  /* Added position relative */
  transition: transform 0.05s ease-in-out;
  /* Added transition for smooth hover effect */
}

.cell:hover {
  background-color: #272626;
  transform: translateY(-3px);
  /* Move the cell up by 5px when hovered */
}

.cell:active {
  background-color: #272626;
  transform: translateY(0px);
}


.mine {
  background-color: rgb(0, 0, 0);
  color: white;
}

.revealed {
  pointer-events: none;
  /* Disable clicking on revealed cells */
}

.revealed img {
  width: 80%;
  /* Reduced the width of the image slightly to fit better */
  height: 80%;
  object-fit: contain;
  position: absolute;
  /* Added position absolute */
  top: 50%;
  /* Center the image vertically */
  left: 50%;
  /* Center the image horizontally */
  transform: translate(-50%, -50%);
  /* Center the image perfectly */
}

#mineCountLabel {
  margin-right: 10px;
}

select {
  background-color: #0F212E;
  border-radius: 3px;
  width: 100%;
  height: 38.2px;
  border: solid 2px rgba(90, 90, 90, 0.603);
  color: #ffffff;
  font-weight: bold;
  font-size: 18;
}

.selectbox {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 143, 255);
  height: 100%;
  width: 300px;
}

.selectbox>div {
  background-color: #f1f1f100;
  width: 276px;
  margin: 10px;
  line-height: 30px;
  font-size: 30px;
}


.flex-container {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(30, 143, 255, 0);
}

.flex-container>div {
  background-color: #f1f1f100;
  width: 100px;
  margin: 10px;
  line-height: 75px;
  font-size: 30px;
}

p {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

button {
  width: 100%;
  height: 52px;
  border-radius: 3px;
  border: solid 0px black;
  background-color: #6967ff;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 4px #333359;
}

button:hover{
  cursor: pointer;
  background-color: #7673fd;
}

button:active {
  background-color: #6967ff;
  box-shadow: 0px 2px #6967ff;
  transform: translateY(1.2px);
}

.coin-display {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

#coinsToSpend{
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  margin-bottom: 15px;
  border: #3f3f3f solid 2px;
}

#coinsToSpend:hover{
  border: #8c8c8c solid 2px;
}


#startButton.cash-out-disabled {
  background-color: gray;
  box-shadow: 0px 2px gray;
  cursor: not-allowed;
}

#coinsToSpend:disabled {
  cursor: not-allowed;
}

.cell.revealed {
  pointer-events: none; /* Disable pointer events */
}

  /* Add a CSS rule to gray out unrevealed cells */
  .cell.unrevealed {
    opacity: 0.3; /* Set opacity to gray out cells */
}

.mine.clicked {
  pointer-events: none; /* Disable hover effect */
}



/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out; /* Add fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  background-color: #333333;
  margin: 25% auto;
  padding: 25px;
  border-radius: 10px;
  width: 32%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation: fadeInZoom 0.2s ease-in-out; /* Add fade-in zoom animation */
  transform: scale(1); /* Initial scale for zoom effect */
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.8); /* Initial scale for zoom effect */
  }
  to {
    opacity: 1;
    transform: scale(1); /* Final scale for zoom effect */
  }
}


#Deposit{
  margin-top: 20px;
  background-color: #00C74D;
  border-radius: 10px;
  box-shadow: 0px 4px #008d36;
}


#Deposit:active {
  background-color: #00C74D;
  box-shadow: 0px 2px #00C74D;
  transform: translateY(2px);
}


